<footer>
  <p mt-8 text-xs op-60>
    <span pr-1> </span>

     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/3" target="_blank"
    >
      ChatGPT✨省心版
    </a>
    |
     <a
      b-slate-link
      href="https://ma.dongstop.link/"_blank"
    >
       
       亲妈版
    </a>
     |
     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/7"_blank"
    >
       
       KEY
    </a>
      |
     <a
      b-slate-link
      href="https://chat.liangji.eu.org/"_blank"
    >
       
       公益站
    </a>