    <style>
        /* 初始状态下图片隐藏 */
        #image {
            display: none;
            width: 350px; /* 固定宽度为350像素 */
            height: auto; /* 自动计算高度以保持比例 */
        }
    </style>
</head>
<body>
    <footer>
        <p class="mt-1 text-xs op-70">推荐使用以下版本，加群有国粹不限次</p>
        <p class="mt-1 op-80">
            <span class="pr-1"> </span>
            <a b-slate-link href="https://666.dongstop.link" target="_blank">
                主页
            </a>
            | 
            <a b-slate-link href="https://www.aijiaolian.chat/midjourney?puid=5670" target="_blank">       
                AI绘画
            </a>
            | 
            <a b-slate-link href="https://mai.dongstop.link/buy/3" target="_blank">
                ChatGPT全能版
            </a>
            | 
            <a b-slate-link href="https://cc.dongstop.link" target="_blank">
                GPT免费
            </a>
            <!-- 其他链接... -->
        </p>
        <p>
            <a b-slate-link href="https://r2.adone.eu.org/sj/mmqrcode1695268915986.png" target="_blank" style="opacity: 0.5;"
               id="showImageLink">
                -网站随时可能被墙屏蔽，请务必点此加群
            </a>
        </p>
    </footer>

    <!-- 图片元素 -->
    <img id="image" src="https://r2.adone.eu.org/sj/mmqrcode1695268915986.png" alt="网站二维码">

    <script>
        const showImageLink = document.getElementById('showImageLink');
        const image = document.getElementById('image');

        if (showImageLink && image) {
            showImageLink.addEventListener('click', (event) => {
                event.preventDefault(); // 阻止默认行为
                image.classList.toggle('visible'); // 切换图片的可见性
            });
        } else {
            console.error('showImageLink or image element not found.');
        }
    </script>
