<footer>
  <p mt-8 text-xs op-50>
    <span pr-1>脏话似乎已被限制</span>

     <a
      b-slate-link
      href="https://tool.taisui.link/" target="_blank"
    >
      网易云刷歌B站原神签到
    </a>

     <a
      b-slate-link
      href="https://mai.dongstop.link/" target="_blank"
    >
      |购买GPT账号
    </a>