<footer>
  <p mt-8 text-xs op-60>
    <span pr-1> </span>

     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/3" target="_blank"
    >
      ChatGPT正常版
    </a>
    ✨
     <a
      b-slate-link
      href="https://mai.dongstop.link" target="_blank"
    >
       
       如不可用请稍候再试
    </a>