<footer>
    <style>
        .my-footer { margin-top: 1em; opacity: 0.8; font-size: 0.75em; }
    </style>
    <p class="my-footer">推荐使用以下版本</p>
    <p class="my-footer">
        <span class="pr-1"> </span>
        <a b-slate-link href="https://666.dongstop.link" target="_blank">主页</a> | 
        <a b-slate-link href="https://www.openflowai.net?puid=5670" target="_blank">AI绘画</a> | 
        <a b-slate-link href="https://mai.dongstop.link/buy/1" target="_blank">GPT￥9.9</a> | 
        <a b-slate-link href="https://ai2.dongstop.link" target="_blank">GPT免费公益站👈</a>
    </p>
    <details>
        <summary class="my-footer">打赏</summary>
        <img src="https://r2.adone.eu.org/2023/9b9b029345fe4e563bff16327c8b7746.jpg" alt="二维码">
    </details>        
</footer>
