<footer>
  <p mt-8 text-xs op-60>
    <span pr-1> </span>

     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/3" target="_blank"
    >
      ChatGPT✨全能版
    </a>
    |
     <a
      b-slate-link
      href="https://sbai.dongstop.link/"_blank"
    >
       
       国粹版
    </a>
     |
     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/2"_blank"
    >
       
       捐助💎
    </a>