<footer>
  <p mt-1 text-xs op-70>>推荐使用以下版本</p>
  <p mt-1 op-80>
    <span pr-1> </span>
     <a
      b-slate-link
      href="https://gpt.liangji.eu.org/"_blank"
    >
     主页
    </a>
      | 
     <a
      b-slate-link
      href="https://www.aijiaolian.chat/midjourney?puid=5670"_blank"
    >       
       AI 绘画
    </a>
      | 
     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/3" target="_blank"
    >
       ChatGPT全能版
    </a>
      | 
     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/8" target="_blank"
    >
       国粹版付费
    </a></p>
    </p>
