<footer>
  <p mt-8 text-xs op-60>
    <span pr-1> </span>
     <a
      b-slate-link
      href="https://tool.taisui.link" target="_blank"
    >
      云签到
    </a>
     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/3" target="_blank"
    >
      GPT正常版✨稳定保证
    </a>

     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/1" target="_blank"
    >
       
       购买GPT账号
    </a>