<footer>
  <p mt-8 text-xs op-50>
    <span pr-1>脏话似乎被限制</span>

    <a
      b-slate-link
      href="https://faka.adone.eu.org/" target="_blank"
    >
      GPT账号
    </a>
        <a
      b-slate-link
      href="https://tool.taisui.link/" target="_blank"
    >
      捐助我-网易云刷歌B站原神贴吧签到
    </a>