<footer>
  <p mt-8 text-xs op-60>
    <span pr-1> </span>

     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/3" target="_blank"
    >
      ✨ChatGPT正常版✨
    </a>

     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/1" target="_blank"
    >
       
       |GPT账号
    </a>