<footer>
    <p class="mt-1 text-xs op-70">-怼不动是因为网页仍在加载中…须耐心等待</p>
    <p class="mt-1 op-80">
        <span class="pr-1"> </span>
        <a b-slate-link href="https://666.dongstop.link" target="_blank">
            主页
        </a>
        | 
        <a b-slate-link href="https://www.openflowai.net?puid=5670" target="_blank">       
            AI绘画
        </a>
        | 
        <a b-slate-link href="https://mai.dongstop.link/buy/3" target="_blank">
            GPT￥9.9
        </a>
        | 
        <a b-slate-link href="https://hai.dongstop.link" target="_blank">
            GPT免费公益站👈
        </a>
    </p>
    
    <p class="mt-1 op-50">以下是 ChatGPT 原版体验，共享号点开即用</p>
    <p class="mt-1 op-50">
        <a b-slate-link href="https://gpt.taisui.link/auth/login_share?token=fk-qMitxKD11IYVoWhxVY3DO117f1aXejoVhjwvNAfKX0U" target="_blank">
            ChatGPT 共享号 1
        </a>
    </p>
    <p class="mt-1 op-50">
        <a b-slate-link href="https://gpt.taisui.link/auth/login_share?token=fk-uFzS6KC0oJhjpx6cmKl1ZuPsVHMQSU3bjPoSSSMJC_A" target="_blank">       
            ChatGPT 共享号 2
        </a>
    </p>
    <p class="mt-1 op-50">
        <a b-slate-link href="https://gpt.taisui.link/auth/login_share?token=fk-FJ0nGnar7hYDWA4Xwdt_C1oqMf-cFaDR8WzXdjouKJM" target="_blank">
            ChatGPT 共享号 3
        </a>
    </p>
    <p class="mt-1 op-50">
        <a b-slate-link href="https://gpt.taisui.link/auth/login_share?token=fk-MW5OBBQ2AqNCsuBiiuSGwNTiUd_sLq-EvEzAOtimIXg" target="_blank">
            ChatGPT 共享号 4
        </a>
    </p>
    <p class="mt-1 op-50">
        <a b-slate-link href="https://mai.dongstop.link/buy/3" target="_blank">
            ChatGPT 独享号 6
        </a>
    </p>
</footer>
