<footer>
  <p mt-8 text-xs op-60>
    <span pr-1> </span>

     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/3" target="_blank"
    >
      ChatGPT正常版
    </a>
    ✨
     <a
      b-slate-link
      href="https://key.dongstop.link/" target="_blank"
    >
       
       低价APIKEY
    </a>
    ✨
     <a
      b-slate-link
      href="https://r2.adone.eu.org/2023/1a3cfea46ca599634317645a18f36266.jpg" target="_blank"
    >
       
       进群送KEY
    </a>