---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-subtitle">ChatGPT 粤韵风华</span>
  </div>
  <p mt-1 op-60>仅供娱乐，引起不适概不负责</p>
</header>
